/*  navigation
 *  - all about navigation elements like menus or tabs
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)


/* ************************ main menu ************************ */

  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }
  .navbar-light .navbar-nav .nav-link:focus {
    color: $p-black;
  }
  .navbar-light .navbar-nav .nav-link:hover {
    color: white;
    background-color: $p-petrol;
  }

  .pp-main-nav {
    margin-top: .5rem;
    .navbar {
      padding: 0;
      align-items: flex-end;
    }
    .nav-link {
      font-size: 1.125rem;
      padding: 0.625rem 1.25rem;
      &:hover {
        color: white;
        background-color: $p-petrol;
      }
      &:focus {
        color: $p-black;
        background-color: white;
      }
    }
    .nav-item {
      &.show {
        .nav-link {
          color: white;
          background-color: $p-petrol;
        }
      }
    }
    // overwrite bs for main menu only
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1.25rem;
      padding-left: 1.25rem;
    }
  }
/* replace carret by chevron for all drop downs */
  .dropdown-toggle::after {
    display: inline-block;
    margin-left: .375rem;
    vertical-align: 0;
    content: "\f078";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    border: none;
    // use font size from element to prevent layout issues
  }


  .mir-prop-nav {
    .navbar-nav {
      & > li {
        & > a {
          font-size: 0.75rem;
          color: $body-color;
          &:hover,
          &:focus {
            color: $p-petrol;
          }
        }
      }
    }
    .mir-lang {
      margin-left: 1.125rem;
      a {
        font-weight: bold;
      }
      .dropdown-toggle::after {
        display: none;
      }
    }
  }

  .navbar-light .navbar-toggler {
    border-color: rgba($p-petrol, 1);
  }

  .mir-main-nav__entries--mobile {
    overflow:auto;
    height: 90vh;
    width: 90vw;
    min-width: 240px;
    position: absolute;
    z-index: 1004;
    top: 5vh;
    left: 5vw;
    padding: 5vh 5vw;
    background-color: rgba(white, 0.95);
    border: 1px solid $p-petrol;
    box-shadow: 0px 4px 3px rgba(0,0,0,0.1);
    .navbar-nav .dropdown-menu.show {
      position: static !important;
      transform: none !important;
      display: block !important;
      overflow: hidden;
    }
    &-close {
      position: absolute;
      z-index: 1005;
      top: 0;
      right: 0;
      color: $p-petrol;
      font-size: 2rem;
    }
  }

/* ************************ tabs ************************ */

// tab menu
#main_content {
  .nav-tabs {
    font-size: 14px;
    border-bottom: 2px solid #efefef; // nav border
    margin-bottom: 54px;
    // tab item container
    > li {
      margin-bottom: -2px; // move tab border over nav border
      // tab item
      > a {
        padding: 10px 50px 7px 10px;
        color: #666;
        border: 0; // reset bs behaviour
        border-bottom: 2px solid #efefef;  //tab border
        // hover effect
        &:hover,
        &:focus {
          color: #333;
          border: 0; // reset bs behaviour
          border-bottom: 2px solid #75adad;
          background-color: transparent; // reset bs behaviour
        }
        // active tab
        &.active {
          border-bottom: 2px solid #005580;
          &:hover,
          &:focus {
            color: #333;
            border: 0; // reset bs behaviour
            border-bottom: 2px solid #005580;
          }
        }
      }
    }
  }
}

.dropdown-submenu {
  .dropdown-menu {
    overflow: auto;
    max-height: 60vh;
  }
}

.pagination_box {
  margin-top: 3rem;
  margin-bottom: 4rem;
}
.pagination-sm .page-link {
  font-size: 1rem;
}
// overwrite mir
.pagination {
  a {
    color: $link-color;
  }
}



// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
  .pp-main-nav {
    margin-top: 3rem;
  }
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
  .pp-main-nav {
    margin-top: 4rem;
    margin-bottom: .5rem;
    .navbar {
      align-items: flex-start;
    }
  }
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-start;
  }
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
  .pp-main-nav {
    margin-top: 5.5rem;
  }
}