//
// Variables
// --------------------------------------------------

// project colors
$p-petrol:        #006978;
$p-purple:        #5F1E55;
$p-purple-light:  #86739B;
$p-pink:          #B478B4;
$p-orange:        #EF7F01;
$p-black:         #212529; //rgb(33, 37, 41)
$p-blue:          #0c636d;
$p-red:           #961432;
$p-dark-white:    #F7F7F9;
$p-contur-white:  #ebe8e5;
$p-light-black:   #38322d;
$p-gray:          #707070;

$gray-light:      #c5c5c5;
$gray-lighter:    #e9eeef;
$pp-primary-light:#ffc88a;
$pp-success-light:#62a0a8;

// --------------------------------------------------
// Reset defaults
// --------------------------------------------------

// Brand colors
// -------------------------
$primary:         $p-petrol;
$secondary:       $p-orange;
$success:         $p-petrol;
$warning:         $p-red;

$brand-primary:     $primary;
$brand-success:     $success;
$info:              $primary;
$brand-info:        $info;
$brand-warning:     $warning;
$danger:            $warning;
$brand-danger:      $danger;

// Links
// -------------------------
$link-color:         $p-petrol;
$link-hover-color:   $p-petrol;

// Navigation
// -------------------------
$navbar-light-color: $p-black;
$navbar-light-hover-color: white;
$navbar-light-active-color: $p-black;

// Dropdowns
// -------------------------
$dropdown-link-color: $p-black;
$dropdown-link-hover-color: white;
$dropdown-link-hover-bg: $p-petrol;
$dropdown-link-active-color: white;
$dropdown-link-active-bg: $p-petrol;

// Panel
// -------------------------
$panel-default-border: $gray-light;

// Misc
$web-font-path: "https://webfonts.gbv.de/css2?family=Inter&display=swap";
$font-family-sans-serif: 'Inter', Helvetica, Arial, sans-serif;
$body-color:         $p-black;
$line-height-base:   1.428571429;
$headings-font-weight: 600;

$font-size-base: 1rem;

$h1-font-size: 2rem;
$h2-font-size: 1.5rem;
$h3-font-size: 1.125rem;

$font-weight-bold: 700 !default;
$font-weight-bolder: $font-weight-bold;

$pp-border-radius: 1.25rem;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$btn-border-width: 0;

$input-focus-border-color: $p-petrol;
$dropdown-border-radius: 0;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1600px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1540px
);

$theme-colors: (
  "pink": $p-pink
);

// Pagination
$pagination-padding-y:              .5rem;
$pagination-padding-x:              .75rem;
$pagination-padding-y-sm:           .5rem;
$pagination-padding-x-sm:           .75rem;
$pagination-padding-y-lg:           .75rem;
$pagination-padding-x-lg:           1.5rem;
$pagination-line-height:            1.25;
$pagination-color:                  $link-color;
$pagination-bg:                     white;
$pagination-border-width:           0;
$pagination-focus-box-shadow:       none;
$pagination-focus-outline:          0;
$pagination-hover-color:            white;
$pagination-hover-bg:               $p-orange;
$pagination-active-color:           white;
$pagination-active-bg:              $p-petrol;
$pagination-disabled-color:         $p-gray;
$pagination-disabled-bg:            white;
