/*  footer
 *  - footer layout
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)


html body #powered_by {
  background-color: transparent;
  border: none;
  text-align: center;
  padding: 0;
}

html body #copyright_by {
  font-weight: 400;
  color: #ffffff;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  align-items: center;
}

.flatmir-footer .container {
  margin-top: 0px;
  margin-bottom: 0px;
}

.flatmir-footer {
  border-top: 3px solid $p-contur-white;
  color: $p-black;
  font-size: 14px;
  background-color: $p-dark-white;
}

.mcr-footer-section {
  &--menu {
    margin-top: 4rem;
    margin-bottom: 2rem;
  }
  &--coop-partners {
    background-color: $p-contur-white;
  }
  &--copyright {
    background-color: $p-light-black;
    padding: 1rem 0 1.25rem 0;
  }
}

.mws-logo {
  a {
    display: block;
  }
}

.flatmir-footer .nav > li > a,
.flatmir-footer .nav > li > a:hover,
.flatmir-footer .nav > li > a:focus {
  color: $p-black;
  padding: 0px;
  font-weight: 700;
}

.flatmir-footer .nav > li > a > span.fa-stack,
.flatmir-footer .nav > li > a:hover > span.fa-stack,
.flatmir-footer .nav > li > a:focus  > span.fa-stack {
  color: #ef7f01;
}

.flatmir-footer .nav > li > a:hover,
.flatmir-footer .nav > li > a:focus {
  text-decoration: underline;
  background-color: transparent;
}

.flatmir-footer .dropdown-item:active,
.flatmir-footer .dropdown-item:hover,
.flatmir-footer .dropdown-item:focus {
  color: $p-black;
  text-decoration: underline;
  background-color: transparent;
}

.flatmir-footer .dropdown-item.active {
  color: $p-black;
  background-color: transparent;
}

.flatmir-footer .dropdown-item.active {
  color: $p-black;
  background-color: transparent;
}

#pp_footer-nav > li {
  padding-bottom: 1.25rem;
}

#footer-social ul > li {
  padding-bottom: 1.25rem;
  flex-basis: 100%;;
}

#footer-social ul > li > a > span.fa-stack {
  margin-right: 30px;
}





// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
  #pp_footer-nav > li {
    padding-bottom: 1rem;
  }
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower

  #pp_footer-nav {
    margin-top: 0;
    margin-bottom: 2rem;
    flex-direction: column !important;
  }
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
  html body #powered_by {
    margin-top: 1rem;
  }
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}