/*  header
 *  - header layout
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

html > body > header {
  box-shadow: 0px 4px 3px rgba(0,0,0,0.1);
  position: fixed;
  top: 0;
  z-index: 1000;
  right: 0;
  width: 100%;
  background-color: white;
}

.header_box {
  display: flex;
  justify-content: space-between;
  padding: 1.75rem 1.75rem 0 1.75rem;
  .project_logo_box {
    align-self: center;
    a {
      display: block;
    }
    img {
      margin: 0 0 1.25rem 0;
    }
  }
  .project_nav_box {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    .searchfield_box {
      order: 1;
    }
    .mir-prop-nav {
      order: 2;
      display: flex;
      justify-content: flex-end;
    }
    .pp-main-nav {
      order: 3;
      flex-basis: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.searchfield_box {
  .search-button {
    cursor: pointer;
    &__icon {
      font-size: 1.25rem;
      margin-right: 1.5rem;
    }
    &__label {
      font-size: 0.875rem;
      margin-right: 6rem;
      font-weight: bold;
      color: $p-petrol;
    }
  }
}


// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
  .header_box {
    .project_nav_box {
      .searchfield_box {
        order: 2;
      }
      .mir-prop-nav {
        order: 1;
        flex-basis: 100%;
      }
      .pp-main-nav {
        flex-basis: auto;
      }
    }
  }
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}