@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://webfonts.gbv.de/web/fonts/a4cba43af88684a87a503d4185926dfd.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://webfonts.gbv.de/web/fonts/7324c51b10346549f17e156c32c90a28.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://webfonts.gbv.de/web/fonts/f04d839bca9e0761a9d4ba23810b2313.woff) format('woff');
}

/* ****************** searchfield_box ******************* */
.searchfield_box {
  position: absolute;
  left: 0;
}

.searchfield_box .btn-primary {
  color: #c3324d;
  background-color: white;
  border-width: 0px;
  margin: 0 0 0 15px;
  padding:0;
}

.searchfield_box .form-control,
.searchfield_box input {
  border-width: 0px;
}


/* ****************** global settings ******************* */

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 160px; /* Margin bottom by footer height */
  font-weight: 300;
}

label {
  font-weight: 400;
}

/* ********************* cookie-bar ********************* */

#cookie-bar {background:#111111; height:auto; line-height:24px; color:#eeeeee; text-align:center; padding:3px 0;}
#cookie-bar.fixed {position:fixed; top:0; left:0; width:100%;}
#cookie-bar.fixed.bottom {bottom:0; top:auto;}
#cookie-bar p {margin:0px 0px; padding:0;}
#cookie-bar a {color:#ffffff; display:inline-block; border-radius:3px; text-decoration:none; padding:0 6px; margin-left:8px;}
#cookie-bar .cb-enable {background:#007700;}
#cookie-bar .cb-enable:hover {background:#009900;}
#cookie-bar .cb-disable {background:#990000;}
#cookie-bar .cb-disable:hover {background:#bb0000;}
#cookie-bar .cb-policy {background:#0033bb;}
#cookie-bar .cb-policy:hover {background:#0055dd;}


/* ********************* navigation ********************* */
.mir-main-nav .container {
    position: relative;
}
.mir-main-nav nav .navbar-nav {
  margin: 0px 0px 0px 0px;
}
.mir-main-nav .navbar-header {
  float: right;
  margin: 0 0 0 0;
}
.navbar {
  position: inherit;
  min-height: 47px;
  background-color: white;
  border-top: 11px solid #aad2d2;
  border-bottom: 1px solid #aad2d2;
}
.navbar-default .navbar-nav > li {
  background-color: #aad2d2;
}
.mir-main-nav nav .navbar-nav .dropdown-menu > .active > a {
  background-color: #62a0a8;
}
.mir-main-nav nav .navbar-nav .dropdown-menu > .active > a:hover,
.mir-main-nav nav .navbar-nav .dropdown-menu > .active > a:focus {
    color: #62a0a8;
}
.mir-main-nav nav .navbar-nav > li > a:hover,
.mir-main-nav nav .navbar-nav .dropdown-menu > li > a:hover,
.mir-main-nav nav .navbar-nav .dropdown-menu > li > a:focus {
  background-color: #89c0c0;
}
.mir-main-nav {
    box-shadow: unset;
}
.mir-main-nav nav .navbar-nav > li > a {
    font-weight: bold;
    font-size: 20px;
}
.mir-main-nav nav .navbar-nav .dropdown-menu > li > a:hover,
.mir-main-nav nav .navbar-nav .dropdown-menu > li > a,
.mir-main-nav .navbar-nav > li > a {
  font-size: 14px;
  font-weight: 400;
  line-height: inherit;
}
.mir-main-nav .nav > li > a {
  padding: 9px 21px;
}
.mir-main-nav .nav > li {
  border-left: 1px solid #fff;
}
.mir-main-nav nav .navbar-nav > li > a:hover .caret {
    border-top-color: #aad2d2 !important;
}
.mir-main-nav nav .navbar-nav .dropdown-menu::before {
    border-color: transparent transparent #aad2d2 transparent;
}
.mir-main-nav nav .navbar-nav .dropdown-menu {
  background-color: #aad2d2;
  border: 0px !important;
  border-radius: 0 !important;
  box-shadow: 0 0 0 !important;
  margin: 0px !important;
  padding: 0px;
}

.mir-main-nav nav .navbar-nav .dropdown-menu > li > a {
  border-top: 1px solid #99d3d9;
  padding-top: 9px;
  padding-bottom: 9px;
}


/* *********************** header *********************** */
html body header #header_box {
  margin-top: -1px;
  margin-bottom: 0;
  position: relative;
  /* background: #ffffff url('../images/guenter_grass.png') no-repeat 83% top; */
  background-size: contain;
  height: 210px;
}

#project_name_box {
  margin-top: 110px;
}

#project_name_box h1 > a {
  color: #aad2d2;
  font-size: 34px;
  font-weight: 300;
}

#project_name_box h1 > a:hover {
  text-decoration: underline !important;;
}

#project_name_box h2 {
  color: #9e9e9e;
  font-size: 14px;
  font-weight: 400;
  margin-top: 0px;
  line-height: 17px;
}

html body header #header_box #project_logo_box {
  position: absolute;
  right: 15px;
  top: 85px;
  float: none;
}

.mir-prop-nav {
    margin: 20px 0px 0px 0px;
}

.searchfield_box .form-group {
    border-bottom: 1px solid #aeb6c0;
}

/* *********************** footer *********************** */
html body #powered_by {
  background-color: #F8F8F8;
  border: none;
  text-align: left;
  padding: 0;
  margin-top: 10px;
}

html body #sponsored_by {
  margin-top: 10px;
  text-align: right;
}

html body footer .internal_links {
  margin-top: 6px;
}

.panel-footer {
    padding: 0;
}

.flatmir-footer {
  margin-top: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 130px; /* Set the fixed height of the footer here */
  background-color: #F8F8F8;
  border-top: 3px solid #aad2d2;
  color: #676767;
  font-size: 14px;
}

.flatmir-footer .nav > li > a,
.flatmir-footer .nav > li > a:hover,
.flatmir-footer .nav > li > a:focus {
  background-color: #F8F8F8;
  color: #aad2d2;
  padding: 0px 4px;
  border-right: 1px solid #666666;
  line-height: 14px;
}
.internal_links > li:last-of-type > a,
.flatmir-footer .nav > li:last-of-type > a:hover,
.flatmir-footer .nav > li:last-of-type > a:focus {
  border-right: 0px;
}
.flatmir-footer .nav > li > a:hover,
.flatmir-footer .nav > li > a:focus {
  text-decoration: underline;
}


/* *********************** audio ************************ */
#player_audio {
  background: white url('../images/audio_poster.png') no-repeat center center;
  background-size: contain;
}


/* ********************* breadcrumb ********************* */
.breadcrumb {
  padding: 8px 0px;
  background-color: transparent;
  font-size: 12px;
}


/* ************************ tabs ************************ */

#main_content .nav-tabs {
  border-bottom: 0;
  font-size: 14px;
}

#main_content .nav-tabs > li {
  margin-bottom: -2px;
}

#main_content .nav-tabs > li > a:hover {
  border: 0;
}

#main_content .nav {
  border-bottom: 2px solid #efefef;
  margin-bottom: 54px;
}

#main_content .nav > li > a {
  padding: 10px 90px 7px 0px;
  color: #666;
}

#main_content .nav-tabs > li.active {
  border-bottom: 2px solid #005580;
}

#main_content .nav-tabs > li.active > a,
#main_content .nav-tabs > li.active > a:hover,
#main_content .nav-tabs > li.active > a:focus {
  border: 0;
}

#main_content .nav > li > a:hover,
#main_content .nav > li > a:focus {
  border-bottom: 2px solid #005580;
  background-color: transparent;
  padding-bottom: 7px;
}


/* ********************** metadata ********************** */
#headline h1 {
  font-size: 30px;
  line-height: 36px;
}
.mir-player {
  margin-top: 46px;
}




.hit_oa > span.label-success {
  background-color: #24780a;
}
.text-success, .result_body .result_filter .panel.oa li[data-fq="worldReadableComplete:true"] .title,
.text-success:hover,
.result_body .result_filter .panel.oa li[data-fq="worldReadableComplete:true"] .title:hover {
  color: #24780a;
}