//
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Reset defaults
// --------------------------------------------------

// Brand colors
// -------------------------
$brand-primary:      #aad2d2;  //mws-turquoise
$brand-success:      #0a6e78;  //mws-petrol
$brand-info:         #666688;  //qp-heading
$brand-warning:      #ef7f01;  //logo

// Links
// -------------------------
$link-color:         #0c636d;
$link-hover-color:   #0c636d;

$font-family-sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;
$text-color:         #495353;
$font-size-base:     15px;
$line-height-base:   1.428571429;


// Navbar
// -------------------------

