//
// Variables
// --------------------------------------------------

// --------------------------------------------------
// Reset defaults
// --------------------------------------------------

// Brand colors
// -------------------------
$brand-primary:      #ef7f01;  //logo
$brand-success:      #0a6e78;  //mws-petrol
$brand-info:         #ef7f01;   // #5397d5;
$brand-warning:      #961432;  //mws-red

$gray-light:         #c5c5c5;
$gray-lighter:       #e9eeef;


// Links
// -------------------------
$link-color:         #0c636d;
$link-hover-color:   #0c636d;

$font-family-sans-serif: 'Open Sans', Helvetica, Arial, sans-serif;
$text-color:         #495353;
$font-size-base:     15px;
$line-height-base:   1.428571429;
$headings-font-weight: 600;


// Panel
// -------------------------
$panel-default-border: $gray-light;
